.menu-button {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

.menu-button:hover {
    -fx-background-color: lightgray;
}

.menu {
    -fx-spacing: 10;
    -fx-padding: 10;
}
.menu-button:pressed {
    -fx-background-color: rgba(128, 128, 128, 0.6); /* Couleur de fond grise avec une opacité de 60% */
}

.plants-background {
    -fx-background-color: #a8f8a8;
}

.title-label {
    -fx-font-size: 40px;
    -fx-font-weight: bold; /* Ajout d'un style de police gras pour plus de visibilité */
}


